



<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{title}}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer">
        </div>
      </div>
    </div>
  </div><!-- /cont -->
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
   

            <form class="form form-group col-lg-6" [formGroup]="registerForm" action="" method="" role="search"style="margin-left: 25%; margin-right: 25%;" >
              
              <div class="form-group">
                <input type="text" class="form-control"   placeholder="Firstname">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Lastname">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Phone Number">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" FormControlName="email" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" FormControlName="password" id="exampleInputPassword1" placeholder="Password">
              </div>
            <button type="submit"[disabled]="!registerForm.invalid" class="btn btn-default">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!--/col-12-->
  </div>
</div>
<hr>
